<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOVA ADMIN</title>
</head>


<body>
{% block content %}
{% include 'main/adminPage.html' %}


<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Edit Post
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

</body>
</html>
