
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}

    <style>
    .search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        background-color: rgba(0,0,0,0.7) !important;
        justify-content: center;
        box-shadow: 2px 2px 5px 5px #000000;
        border-radius: 5px;
    }

    .btn-info{
        background: #33ccff !important;
        color: white !important;
    }
}


    </style>


    <br><br><br><br>
<section class="search-sec">


    <div class="row">
        <div class="container">

        <div style="margin-left: 33%">
            <a href="{% url 'postlistings' forsale %}"><button class="btn btn-info"><i style='font-size:70px' class="fa fa-home"></i>For Sale</button></a>

            &ensp;
            &ensp;
            &ensp;
            <a href="{% url 'postlistings' forrent %}"><button class="btn btn-info"><i style='font-size:70px' class="fa fa-key"></i>For Rent</button></a>

        </div>

            </div>
    </div>



</section>

<br><br><br>
    <section class="search-sec" >
    <div class="row">
        <div class="col-md-8">
        <h4 class="subheading text-white">Lorem ipsum dolor sit amet</h4>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem odio, scelerisque et diam vel, feugiat aliquam ipsum. Nunc consequat massa erat, a congue massa hendrerit vitae. Mauris vitae nibh sit amet orci cursus condimentum in non justo. Nullam et auctor diam, vitae porta velit. Vestibulum augue orci, feugiat eu tortor sed, tempus lobortis nibh. Proin eu molestie mauris, a vehicula massa. Etiam sed nunc id sapien commodo dictum a sit amet urna. Integer volutpat eget enim sit amet scelerisque. Aliquam at elementum libero.</p>
        </div>
        <div class="col-md-4">
            <img src= "/static/images/im3rd-media-EsfMI3ouEdE-unsplash.jpg " class="d-block w-100" style="height: 200px" alt="...">
        </div>
    </div>
    </section>
<br><br><br>


        <section class="search-sec" >
    <div class="row">
        <div class="col-md-4">
            <img src= "/static/images/precondo-ca-QHDFm084RNk-unsplash.jpg " class="d-block w-100" style="height: 200px" alt="...">
        </div>
        <div class="col-md-8">
            <h4 class="subheading text-white">Lorem ipsum dolor sit amet</h4>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sem odio, scelerisque et diam vel, feugiat aliquam ipsum. Nunc consequat massa erat, a congue massa hendrerit vitae. Mauris vitae nibh sit amet orci cursus condimentum in non justo. Nullam et auctor diam, vitae porta velit. Vestibulum augue orci, feugiat eu tortor sed, tempus lobortis nibh. Proin eu molestie mauris, a vehicula massa. Etiam sed nunc id sapien commodo dictum a sit amet urna. Integer volutpat eget enim sit amet scelerisque. Aliquam at elementum libero.</p>

        </div>
    </div>
    </section>

    <br><br><br>

{% endblock %}

