<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOVA ADMIN</title>

    {% block content %}
{% include 'main/adminpage.html' %}
{% endblock %}
</head>
<body>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Confirmation
                </div>
                <div class="card-body">
                    <div class="center">
                        <h3>Do you confirm the delete user '{{ user.username }}'</h3>
                        <br>

                        <div class="Area">
                            <div class="Box">
                                <form method="post" action="{% url 'deleteuser' user.id  %}">
                                    {% csrf_token %}

                                    <button type="submit" id="delete" class="btn-lg btn-danger btn">Delete</button>
                                </form>

                            </div>
                            <div class="Box">
                                <a class="btn btn-secondary btn-lg mr-2" href="{% url 'user'  %}">Cancel</a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>

<style>
    .center {

        text-align: center;

    }

    .Area {
        width: 900px;
        height: 40px;
        margin-left: 150px;
        margin-right: 100px
    }

    .Box {
        width: 200px;
        height: 40px;
        float: left;
        margin: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
    }
</style>
